<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="12f9bb0c-9003-4728-8b6c-b278d112e6ea" Publisher="CN=Coolph" Version="1.0.0.0" />
  <Properties>
    <DisplayName>ExchangeRates.WinRT.Windows</DisplayName>
    <PublisherDisplayName>Coolph</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="ExchangeRates.WinRT.Windows.App">
      <m2:VisualElements DisplayName="Exchange rates" Square150x150Logo="Assets\Logo.png" Square30x30Logo="Assets\SmallLogo.png" Description="Application showing current currency exchange rates based on European Central Bank data." ForegroundText="dark" BackgroundColor="#800080">
        <m2:SplashScreen Image="Assets\SplashScreen.png" />
      </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>